<div>
  <h1
    mat-dialog-title
    class="text-center"
    [ngClass]="{ win: hasWin, defeat: !hasWin }"
    color="accent"
  >
    {{ title }}
  </h1>
  <div mat-dialog-content>
    <div class="text-center">
      <p
        [ngClass]="{ win: hasWin == true, defeat: hasWin == false }"
        class="w-100 text-center mb-3 p-3"
      >
        Duration : {{ duration }}
      </p>
      <p class="text-center p-3">
        <button
          mat-button
          color="{{ hasWin ? 'accent' : 'warn' }}"
          (click)="onReTry($event)"
        >
          <fa-icon [icon]="faCheck" class="mr-2"></fa-icon>
          Try again!
        </button>
      </p>
    </div>
  </div>
</div>
