<div class="row">
  <div class="col ml-0 pl-0">
    <p> Time: {{ time }}" </p> 
    <p> Remaining flags: {{remainingFlags}}</p>
  </div>
  <div class="col text-center">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ selectedDifficulty.label }}
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let diff of difficulties"
        (click)="handleOnChangeDifficulty(diff)"
        mat-menu-item
      >
        {{ diff.label }}
      </button>
    </mat-menu>
  </div>
  <div class="col m-0 p-0 mb-3 text-right">
    <button
      (click)="handleOnClick()"
      mat-fab
      color="{{ started ? 'primary' : 'accent' }}"
    >
      <mat-icon *ngIf="started">refresh</mat-icon>
      <mat-icon *ngIf="!started">play_arrow</mat-icon>
    </button>
  </div>
</div>
<app-board   [gameBoard]="gameBoard" [difficulty]="selectedDifficulty" [cellWidth]="cellWidth" [flags]="remainingFlags" (handleRightClick)="handleRightClick($event)"></app-board>
